.course_details_request_container {
  width: 390px;
  height: 516px;
  position: absolute;
  top: 165px;
  left: 0;
  border-radius: 26px;
  background-color: #ffffff;
  box-shadow: 0px 0px 4px 0px #00000040;
}
.course_details_request_image {
  width: 100%;
  height: 201px;
}
.course_details_features {
  padding: 30px 34px 32px 33px;
}
.course_details_features h1 {
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: right;
  color: #072127;
  margin-bottom: 28px;
}
.course_details_request_list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 24px;
  list-style: none;
}
.course_details_request_list_item {
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: right;
  color: #072127;
  position: relative;
  padding-right: 16px;
}
.course_details_request_list_item::before {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: #6dcde5;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.course_details_request {
  width: 323px;
  height: 82px;
  margin: auto;
}
.course_details_request_button {
  width: 100%;
  height: 52px;
  border-radius: 150.04px;
  background-color: #6dcde5;
  border: 1px solid #6dcde5;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: #ffffff;
  margin-bottom: 16px;
  cursor: pointer;
}
.course_details_request p {
  width: 100%;
  margin: auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: #708387;
}
