.test_container {
  padding: 20px 24px 28px 24px;
  width: 100%;
  min-height: 360px;
  border-radius: 8px;
  box-shadow: 0 0 11px 0 #0000001a;
  background-color: #fefeff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
}
.test_container_header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
}
.question_title {
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0%;
  text-align: right;
  color: #072127;
}
.question_pointer {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0%;
  text-align: right;
  color: #708387;
}
.choices {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: flex-start;
  align-items: flex-start;
}
.option {
  width: fit-content;
  padding: 9px 10px 9px 10px;
  background-color: #f2f2f280;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 11px;
  transition: background 0.2s ease-out;
}
.option_sky {
  background-color: #6dcde533;
}
/* .checkbox {
  width: 18px;
  height: 18px;
  opacity: 0;
  position: absolute;
  pointer-events: none;
} */
.custom_checkbox {
  width: 18px;
  height: 18px;
  border-radius: 2px;
  border: 1px solid #70838780;
  background-color: white;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.2s ease-out;
}
.custom_checkbox.checked {
  background-color: #6dcde5;
  border-color: #6dcde5;
}
.custom_checkbox.checked::before {
  content: url("/public/icons/selected_mark/selecte_mark.svg");
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.option_p {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0%;
  text-align: right;
  color: #072127;
}
.solution_input {
  width: 100%;
}
.open_input {
  width: 100%;
  min-height: 98px;
  border-radius: 8px;
  outline: none;
  border: 1px solid #70838780;
  padding: 12px 16px 12px 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: right;
  color: #072127;
  font-weight: 500;
}
.open_input::placeholder {
  color: #5e6366;
}
.question_submit_container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}
.question_submit_button {
  width: 100px;
  height: 40px;
  border-radius: 8px;
  background-color: #6dcde5;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0%;
  text-align: center;
  color: #e5f6f9;
  outline: none;
  cursor: pointer;
  border: none;
}
.mark_note {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0%;
  text-align: right;
  color: #708387;
}
