.course_certificate_modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  animation: certificateOpacity 300ms ease-out;
}
@keyframes certificateOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
