.courses_recommended_container {
  width: 100%;
  padding: 52px 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
  margin-bottom: 52px;
  background-color: #f9f9f9;
}
.courses_recommended_header_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
}
.courses_recommended {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 32px;
}
.courses_recommended h1 {
  font-weight: 700;
  font-size: 38px;
  line-height: 0px;
  letter-spacing: 0px;
  text-align: center;
  vertical-align: middle;
  color: #072127;
}
.courses_recommended h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: center;
  color: #6dcde5;
}
.courses_recommended_filter_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.courses_recommended_filter_button {
  width: 146.958984375px;
  height: 52px;
  border-radius: 150.04px;
  border: 1px solid #d9e4e5;
  background-color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: center;
  color: #0c1c2f;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.courses_recommended_filter_button:hover {
  background-color: #6dcde5;
  border: none;
  color: #ffffff;
}
.cousres_recommended_chosen_filter {
  background-color: #6dcde5;
  border: none;
  color: #ffffff;
}
.courses_recommended_courses_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recommended_course_card {
  width: 390px;
  height: 437px;
  border: 0.77px solid #d9e4e5;
  background-color: #fff;
  border-radius: 24px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 27px;
  padding-bottom: 22px;
}
.recommended_course_card_hours {
  position: absolute;
  top: 9.21px;
  right: 9.21px;
  width: 89.05806732177734px;
  height: 30.70967674255371px;
  border-radius: 42.23px;
  border: 0.77px solid #d9e4e5;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4.61px;
}
.recommended_course_card_hours p {
  font-weight: 500;
  font-size: 11.52px;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: right;
  color: #0c1c2f;
}
.recommended_course_card_img {
  border-top-left-radius: 18.43px;
  border-top-right-radius: 18.43px;
  width: 100%;
}
.recommended_course_card_details {
  width: 100%;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20.73px;
}
.recommended_course_card_details h1 {
  width: 100%;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: right;
  color: #072127;
}
.recommended_course_card_students_and_rating {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.recommended_course_card_students_and_rating p {
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: right;
  color: #306b89;
}
.recommended_course_card_rating_container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 3.07px;
}
.recommended_course_card_rating_container p {
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0px;
  color: #232323;
}
.recommended_course_card_view_course_btn {
  width: 100%;
  height: 39.92px;
  border: 0.77px solid #d9e4e5;
  border-radius: 115.19px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7.68px;
}
.recommended_course_card_view_course_btn {
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: right;
  color: #072127;
  background-color: #fff;
  cursor: pointer;
}

.courses_recommended_view_all_btn {
  width: 239px;
  height: 56px;
  border-radius: 100px;
  background-color: #306b89;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  align-content: center;
}
