.main_page_search_container {
  width: 1240px;
  height: 295px;
  border-radius: 58px;
  background: linear-gradient(to left, #6dcde5 0%, #c0eaf4 100%);
  padding: 36px 44px 44px 44px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 28px;
  margin-bottom: 52px;
  margin: 0 auto 52px auto;
}
.main_page_search_container h1 {
  width: 100%;
  padding: 0 32px;
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  letter-spacing: 0px;
  text-align: center;
  color: #ffffff;
}
.main_page_search_input_container {
  width: 100%;
  position: relative;
}
.main_page_search_input {
  width: 100%;
  height: 92px;
  border-radius: 100px;
  background-color: #fff;
  color: #072127;
  font-weight: 500;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: right;
  padding-right: 76px;
  padding-left: 240px;
  border: none;
  outline: none;
}
.main_page_search_input::placeholder {
  font-weight: 500;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: right;
  color: #708387;
}
.main_page_search_input_container img {
  position: absolute;
  top: 50%;
  right: 32px;
  transform: translateY(-50%);
}
.main_page_search_btn {
  position: absolute;
  top: 50%;
  left: 32px;
  transform: translateY(-50%);
  width: 182px;
  height: 52px;
  border-radius: 74px;
  background-color: #6dcde5;
  border: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0px;
  color: #ffffff;
  cursor: pointer;
}
