.rate_course_and_trainer_page {
  width: 100%;
  margin: 0;
  padding: 0 0;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 32px;
  margin-bottom: 150px;
}
.rate_course_and_trainer {
  min-width: 806px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
}
.rate_course_and_trainer_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
.rate_course_and_trainer_h1 {
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0;
  text-align: center;
  color: #232323;
}
.rate_course_and_trainer_course_notes {
  width: 100%;
  height: 98px;
  border-radius: 8px;
  padding: 12px 16px;
  border: 1px solid #70838780;
  font-size: 16px;
  font-weight: 500;
  color: #072127;
  outline: none;
  direction: rtl;
}
.rate_course_and_trainer_course_notes::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0;
  text-align: right;
  color: #5e6366;
}
.dividing_line {
  height: 0px;
  width: 100%;
  border-top: 1px solid #d9e4e5;
}
.rate_course_and_trainer_send_rating_button {
  width: 161px;
  height: 52px;
  border-radius: 8px;
  background-color: #6dcde5;
  border: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0;
  text-align: center;
  color: #e5f6f9;
}
