/* .backdrop_rate {
  position: fixed;
  inset: 0;
  background-color: #000000cc;
  z-index: 9998;
} */

.rate_course_modal {
  min-width: 620px;
  min-height: 392px;
  border-radius: 12px;
  background-color: #ffffff;
  box-shadow: 0 10px 14px 0 #0f2a5108;
  padding: 30px 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  animation: rateCourseOpacity 300ms ease-out;
}
@keyframes rateCourseOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.rate_course_modal_body {
  width: 100%;
  margin-bottom: 20px;
}
.rate_course_modal_header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-bottom: 28px;
}
.rate_course_h1 {
  font-weight: 500;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: 0;
  text-align: center;
  color: #232323;
}
.rate_course_modal_comment_container {
  width: 100%;
}
.rate_course_modal_comment_p {
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0;
  text-align: right;
  color: #072127;
  margin-bottom: 12px;
}
.rate_course_modal_comment_textarea {
  width: 100%;
  height: 98px;
  border-radius: 8px;
  padding: 12px 16px;
  border: 1px solid #70838780;
  outline: none;
  direction: rtl;
  color: #072127;
  font-size: 16px;
  font-weight: 500;
}
.rate_course_modal_comment_textarea::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0;
  text-align: right;
  color: #5e6366;
}
.rate_course_modal_buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rate_course_send_button {
  width: 438px;
  height: 56px;
  border-radius: 8px;
  background-color: #6dcde5;
  cursor: pointer;
  border: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: -2px;
  text-align: center;
  color: #ffffff;
}
.rate_course_cancel_button {
  width: 122px;
  height: 56px;
  border-radius: 8px;
  color: #072127;
  background-color: white;
  border: 1px solid #d9e4e5;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: -2px;
  text-align: center;
  cursor: pointer;
}
