.toast-container {
  position: fixed;
  top: 20px;
  left: 50%;
  color: white;
  padding: 15px 25px;
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
  z-index: 9999;
  display: flex;
  align-items: start;
  gap: 15px;
  transition: transform 0.4s ease;
  min-width: 500px;
  /* max-width: 90vw */

}

.toast-text {
  background: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold
}