.justified-paragraph {
  text-align: justify;
  text-align-last: right;
  direction: rtl;
  color: #708387;
  line-height: 160%;
  letter-spacing: 0px;
  margin: 0 0 16px 0; 
  font-weight: 500;
  font-size: 18px;
}

/* Style for h3 inside guide sections */
.layout2-Guide h3 {
  color: #072127; /* Add a color for better visibility */
  font-size: 24px; /* Adjust size as needed */
  text-align: right; /* Match RTL direction */
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 167px;
  background: linear-gradient(101.6deg, #E9F0E8 0.88%, rgba(177, 211, 229, 0.66) 28.52%, rgba(210, 244, 234, 0.58) 51.4%, rgba(177, 211, 229, 0.6) 76.65%, #E9F0E8 100%);
}

.header h1 {
  color: #000000; /* Add color for the header title */
  font-size: 32px; /* Adjust size as needed */
  text-align: center;
}

.header p {
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: #708387;
}

.layout-Guide {
  direction: rtl;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px 0px;
  padding-bottom: 100px;
  background: #ffff;
  height: auto;
  text-align: center;
  gap: 32px;
}

.layout2-Guide {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-right: 8px;
  padding-bottom: 16px;
  padding-left: 8px;
  padding-top: 16px;
  gap: 24px;
  width: 100%; /* Make it full width */
  max-width: 1200px; /* Optional: Add max width for better readability */
}

.title-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: fit-content;
  
}

.dividing_line {
  height: 1px;
  background: linear-gradient(to right, #FFFFFF 0%, #6dcde5 100%);
  margin-top: 10px;
  transition: width 0.3s ease;
}

.dividing {
  width: 100%;
  height: 0px; 
  border: 1px solid #D9E4E5;
  rotate: 180deg;
  overflow: hidden;
}

table {
  gap: 30px;
  width: 100%;
  top: 307px;
  left: 120px;
}

tr {
  width: 300px;
  height: 137px;
  gap: 10px;
  top: 307px;
  left: 120px;
  border: 1px solid #D9E4E5BF;
}

td {
  border: 1px solid #D9E4E5BF;
}