.latest-projects{
    direction: rtl;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 356px;
    height: auto;
    rotate: 0deg;
    opacity: 1;
    gap: 24px;
    padding: 24px 0px;
    box-shadow: 0px 0px 5px 0px #00000026;
}

.title-latest-projects{
    width: 308px;
    height: 50px;
    opacity: 1;
    gap: 10px;
    padding-bottom: 10px;
    border-bottom-width: 1px;
    border-bottom: 1px solid #D9E4E5;
    font-family: Tajawal;
    font-weight: 700;
    font-style: Bold;
    font-size: 20px;
    /* leading-trim: NONE; */
    line-height: 100%;
    letter-spacing: 0%;
    text-align: right;

}

.card-latest-projects {
    display: flex;
    justify-content: space-around;
    align-items: start;
    width: 308px;
    height: auto;
    opacity: 1;
    gap: 16px;
    color: #072127;
    padding-bottom: 20px;
}

.img-latest-projects{
    width: 100px;
    height: 68px;
    opacity: 1;
    border-radius: 8px 8px 0 0;
}

.latest-projects-text{
    font-family: Tajawal;
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: right;
    
}

.latest-projects-divider{
    width: 308.00000000000114px;
    height: 0px;
    rotate: 180deg;
    gap: 16px;
    opacity: 1;
    border-width: 1px;
    border: 1px solid #D9E4E5;
}