.container {
  max-width: 716px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  height: fit-content;
}
.trainers_container_header {
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: right;
  color: #0a1826;
  width: 100%;
}
.trainers {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  height: fit-content;
}
.trainer {
  background-color: #f9f9f9;
  width: 100%;
  min-height: 296px;
  padding-top: 20px;
  padding-right: 16px;
  padding-bottom: 20px;
  padding-left: 16px;
  border-radius: 18px;
}
.trainer_header {
  margin-bottom: 23px;
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 23px;
}
.trainer_header h1 {
  font-weight: 500;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: right;
  color: #0a1826;
}
.trainer_header h2 {
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: right;
  color: #4a5568;
}
.trainer_image {
  border: none;
  outline: none;
}
.title_and_count {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2px;
}
.trainer_body {
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0%;
  text-align: right;
  color: #708387;
}
