.certificate_requirements {
  min-width: 806px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 32px;
  margin-bottom: 150px;
}
.certificate_requirements_header {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 16px;
}
.certificate_requirements_header_h1 {
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0;
  text-align: right;
  color: #232323;
}
.certificate_requirements_body {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
}
.certificate_requirements_body_header {
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0;
  text-align: right;
  color: #072127;
}
.certificate_requirements_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 32px;
}
.certificate_requirement_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 11px;
}
.certificate_requirement_pointer {
  width: 18px;
  height: 18px;
  border-radius: 2px;
  background-color: #ec2625;
  position: relative;
}
.certificate_requirement_pointer::before {
  content: url("/public/icons/selected_mark/wrong_mark.svg");
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}
.certificate_requirement {
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0;
  text-align: right;
  color: #072127;
}
