.add_course_add_test_container {
  width: 100%;
  border-radius: 8px;
  padding: 24px 12px;
  background-color: #f9f9f980;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
  animation: AddCourseAddTestEffect 300ms ease-in-out;
}
@keyframes AddCourseAddTestEffect {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  50% {
    opacity: 0.75;
    transform: translateY(-10px);
  }
  75% {
    opacity: 0.95;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.add_course_add_test_container h1 {
  width: 100%;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: center;
  color: #072127;
}
.add_course_questions_container {
  width: 100%;
  padding: 24px 12px;
  border-radius: 8px;
  background-color: #f9f9f980;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
}
.add_course_add_question_btn {
  width: 140px;
  height: 44px;
  border-radius: 6px;
  background-color: #6dcde5;
  font-weight: 700;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0px;
  text-align: center;
  color: #ffffff;
  border: none;
  cursor: pointer;
}
.add_course_question_container {
  padding: 16px 12px;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
  animation: AddCourseAddTestEffect 300ms ease-in-out;
}
.add_course_question_header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.add_course_question_input {
  padding: 0 12px;
  width: 396px;
  height: 52px;
  background-color: #f2f2f280;
  border: 1px solid #70838780;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: right;
  vertical-align: middle;
  color: #072127;
  outline: none;
  border-radius: 3px;
}
.add_course_question_input::placeholder {
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: right;
  vertical-align: middle;
  color: #072127;
}
.add_course_choices_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
}
.add_course_choice_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: AddCourseAddTestEffect 300ms ease-in-out;
}
.add_course_answer_style_and_input {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.add_cousre_answer_style {
  width: 18px;
  height: 18px;
  border-radius: 142.86px;
  border: 1px solid #708387;
  cursor: pointer;
  position: relative;
  animation: AddQuestionOptionOpacityEffect 200ms ease-in-out;
}
.cursor_none {
  cursor: auto;
}
.add_course_choice_chosen {
  border-color: #6dcde5;
  position: relative;
}
.add_course_choice_chosen::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background-color: #6dcde5;
  animation: AddQuestionOptionOpacityEffect 200ms ease-in-out;
}
@keyframes AddQuestionOptionOpacityEffect {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.add_cousre_answer_input {
  border: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: right;
  color: #072127;
}
.add_cousre_answer_input::placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: right;
  color: #072127;
}
.add_course_input_cancel {
  border: none;
  cursor: pointer;
  background-color: transparent;
}
.add_course_add_answer_btn {
  border: none;
  outline: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: right;
  background-color: transparent;
  color: #6dcde5;
  cursor: pointer;
}
.add_course_question_divider {
  width: 100%;
  height: 0;
  border-top: 1px solid #f2f2f2;
}
.add_course_required_delete_container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
}
.add_course_set_required_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}
.add_course_set_required_container p {
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: right;
  color: #708387;
}
.add_course_set_required {
  width: 37px;
  height: 13px;
  border-radius: 72px;
  background-color: #6dcde540;
  position: relative;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.add_course_reset_required {
  background-color: #3e444542;
}
.add_course_set_required_btn {
  width: 19px;
  height: 19px;
  border-radius: 72px;
  background-color: #6dcde5;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(20%, -50%);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.add_course_reset_required_btn {
  left: 0;
  right: 55%;
  transform: translate(0, -50%);
  background-color: grey;
}
.add_course_required_delete_divider {
  height: 24px;
  width: 0;
  border-right: 1px solid #f2f2f2;
}
.add_course_delete_and_container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 26px;
}
.add_course_delete_and_container button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
