.form-request input {
  width: 660px;
  height: 56px;
  opacity: 1;
  border-radius: 8px;
  background: #FFFFFF;
  border: 1px solid #70838766;
  padding-top: 12px;
  padding-right: 10px;
  padding-bottom: 12px;
  padding-left: 20px;
  outline: none;
}

.input-texthelp {
  width: 660px;
  height: 13px;
  opacity: 1;
  color: #708387;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: right;
}

.form-request textarea{
  width: 660px;
  height: 126px;
  opacity: 1;
  border-radius: 8px;
  background: #FFFFFF;
  border: 1px  solid #70838766;
  border-style: solid;
  resize: none;
  padding: 12px 12px;
}

.form-request textarea::placeholder,
.form-request input::placeholder{
  display: flex;
  align-items: start;
  width: 228.59px;
  height: 17px;
  opacity: 1;
  color: #708387;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: right;
}

.form-request input:hover,
.form-request input:focus,
.form-request input:active,
.form-request textarea:hover,
.form-request textarea:focus,
.form-request textarea:active {
  border: 1px solid #70838780; /* الحفاظ على الخط السفلي فقط */
  outline: none;
}

.form-request label{
  width: 660;
  height: 19;
  opacity: 1;
  color: #000000;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: right;
}

.form-request button{
  height: 56px;
  opacity: 1;
  border-radius: 100px;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: -2%;
  text-align: center;
}

.app-a{
  direction: rtl;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 150px;
  background: #ffff;
  height: 100vh;
  text-align: center;
}

.request{
  width: 700px;
  height: 684px;
  top: 120px;
  left: 370px;
  gap: 32px;
  opacity: 1;
}

.form-request{
  width: 700px;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  padding: 20px;
  gap: 24px;
  top: 53px;
  opacity: 1;
  border-radius: 8px;
  border-right-width: 6px;
  background: #FEFEFF;
  border-right: 6px solid #6DCDE5;
  box-shadow: 0px 0px 11px 0px #0000001A;
}

.button-request {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 1440px;
  height: 89px;
  padding-left: 70px;
  gap: 20px;
  top: 1067px;
  opacity: 1;
  background: #FFFFFF;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
}

.input-image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
  border-radius: 10px;
  background: #6DCDE50D;
}

.input-image-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 67px;
  height: 67px;
  border-radius: 50%;
  background: #6DCDE51A;
}
