.test_result {
  min-width: 806px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 32px;
  align-items: flex-start;
  margin-bottom: 150px;
}
.result_upper_header {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 16px;
}
.test_result_title {
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: right;
  color: #232323;
}
.result_container {
  min-width: 474px;
  min-height: 157px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin: 0 auto;
}
.test_result_circle_container {
  width: 106px;
  height: 106px;
  border-radius: 100%;
  position: relative;
  aspect-ratio: 1 / 1;
}
.test_result_circule {
  position: absolute;
  width: 88px;
  height: 88px;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  border-radius: 100%;
  aspect-ratio: 1 / 1;
}
.result_details {
  display: inline-block;
}
.result_details_p {
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: right;
  display: inline-block;
}
.percentage_number {
  font-size: 32px;
}
.questions_solved {
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: right;
  color: #708387;
  display: inline-block;
  margin-right: 12px;
}
.redo_test_button {
  width: 110px;
  height: 40px;
  border-radius: 8px;
  background-color: #6dcde5;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0;
  color: #e5f6f9;
  cursor: pointer;
  border: none;
}
.test_questions_corrections {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}
