.header-sidebar{
    width: 100%;
    height: 30px;
    border-bottom: 1px solid #D9E4E5;
}

.header-sidebar h6 {
    font-size: 16px;
    color: #708387;
}

.content-sidebar {
    width: 100%;
    height: 284px;
    gap: 16px;
    
}
.content-sidebar-flex{
    display: flex;
    align-items: center;
    height: 44px;
    padding: 10px 12px;
    border-radius: 8px;
    cursor: pointer;
    text-align: right;
    gap: 10px;
}

.content-sidebar-flex h5 {
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #072127;
}

.footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 44px;
    padding: 10px 12px;
    border-radius: 8px;
    cursor: pointer;
    gap: 10px;
}

.footer-title{
    width: 100%;
    height: 30px;
    border-bottom: 1px solid #D9E4E5; 
}

.footer-title h6 {
    font-size: 16px;
    color: #708387;
    text-align: right;
}

.footer-content{
    width: 100%;
    gap: 10px
}