.backdrop {
  position: fixed;
  inset: 0;
  background-color: #000000cc;
  z-index: 9998;
  animation: backDropOpacity 300ms ease-out;
}
@keyframes backDropOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
