.nav_container {
  width: 100%;
  height: 100px;
  opacity: 1;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav {
  width: 100%;
  height: 46px;
  display: flex;
  justify-content: space-between;
  opacity: 1;
  margin: 0;
}
.right_wing_nav {
  width: fit-content;
  display: flex;
  justify-content: center;
  gap: 32px;
  align-items: center;
}
.main_icon {
  height: 100%;
}
.separation_line {
  width: 0px;
  height: 30px;
  border-right: 1px solid #70798b;
}
.nav_link {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: -1px;
  text-align: right;
  color: #072127;
}
.left_wing_nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  gap: 28px;
}
.lang_container {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.lang_icon {
  width: 24px;
}
.left_nav_link {
  text-decoration: none;
  font-weight: 500;
  font-size: 16x;
  line-height: 100%;
  text-align: center;
  color: #072127;
}
.lang_select {
  border: none;
  outline: none;
  font-size: 18px;
  font-weight: 500;
  background: transparent;
}
