.add_post_page {
  position: relative;
  border-top: 1px solid #d9e4e5;
}
.add_post_container_full {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 32px;
  width: 700px;
  min-width: 700px;
  margin: auto;
  margin-bottom: 200px;
  margin-top: 40px;
}
.add_post_container_full h1 {
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: center;
  color: #232323;
  width: 100%;
}
.add_post_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
  padding: 20px 20px 32px 20px;
  border-radius: 8px;
  border-right: 6px solid #6dcde5;
  box-shadow: 0 0 11px 0 #0000001a;
}
.add_post_add_accessories {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;
}
.add_post_label_and_validation {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 6px;
}
.add_post_label {
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: right;
  color: #000000;
}
.add_course_validation {
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: right;
  color: #708387;
}
.add_post_add_file_container {
  width: 100%;
  height: 107px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #6dcde50d;
}
.add_post_add_file_input_container {
  width: 67px;
  height: 67px;
  border-radius: 50%;
  background-color: #6dcde51a;
  position: relative;
}
.add_post_add_file_style {
  width: 25px;
  height: 25px;
  border-radius: 25%;
  background-color: #6dcde5;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.add_post_add_file_style:hover {
  transform: translate(-50%, -50%) scale(1.2);
}
.add_post_add_file_style::before {
  content: "";
  background-image: url("/public/icons/plus/icons8-plus-24.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.add_post_files_preview {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;
}
.add_post_file_preview {
  width: 100%;
  aspect-ratio: 16 / 9;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.add_post_image {
  width: 100%;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.add_post_bottom_bar_container {
  position: static;
  width: 100%;
  z-index: 1000;
  display: block;
}
.add_post_bottom_bar {
  position: relative;
  bottom: 0;
  width: 99.5vw;
  right: 50%;
  margin-right: -50vw;
  box-shadow: 0 -2px 37.4px 0 #0000001a;
  height: 89px;
  padding: 16.5px 0 16.5px 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  background-color: #fff;
}
.add_post_bottom_bar_next {
  width: 396px;
  height: 56px;
  border-radius: 100px;
  background-color: #6dcde5;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: -2%;
  text-align: center;
  color: #ffffff;
  outline: none;
  border: none;
  cursor: pointer;
}
.add_post_bottom_bar_previous {
  width: 146px;
  height: 56px;
  border-radius: 100px;
  color: #072127;
  border: 1px solid #d9e4e5;
  outline: none;
  background-color: #ffffff;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: -2%;
  text-align: center;
  cursor: pointer;
}
