@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap");
.footer_container {
  position: relative;
  width: 99.5vw;
  right: 50%;
  margin-right: -50vw;
  height: 500px;
  padding: 70px 120px;
  background-color: #04181c;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 40px;
}
.footer_content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.element {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.platform_description {
  max-width: 352px;
}
.footer_logo {
  margin-bottom: 48px;
}
.footer_p {
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0px;
  text-align: right;
  color: #ffffff;
}
.footer_section {
  min-width: 103px;
  max-width: 228px;
}
.footer_section h1 {
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0px;
  text-align: right;
  color: #ffffff;
  margin-bottom: 14px;
}
.footer_dividing_line {
  width: 57px;
  height: 1px;
  background: linear-gradient(to right, #04181c 0%, #6dcde5 100%);
  margin-bottom: 32px;
}
.footer_section_list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 12px;
}
.footer_list_item {
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: right;
  color: #ffffff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}
/* .footer_list_item img {
  margin-left: 8px;
} */
.dividing_line_footer {
  width: 100%;
  height: 0px;
  border-top: 1px solid #d9e5dd;
  opacity: 0.25;
}
.footer_social {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer_rights {
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0px;
  color: #ffffff;
  font-family: "IBM Plex Sans", sans-serif;
}
.footer_social ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 10px;
  align-items: center;
  list-style: none;
}
.footer_social ul li {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
