.lesson_video_wrapper {
  width: 100%;
  aspect-ratio: 16 / 9;
  border-radius: 12px;
  overflow: hidden;
}
/* .lesson_video_player {
} */
.lesson_play_video_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.lesson_play_video_p {
  font-weight: 700;
  font-size: 16px;
  line-height: 21.71px;
  letter-spacing: 0px;
  text-align: center;
  color: #ffffff;
}
