.course_details_navbar {
  height: 96px;
  padding: 25px 0;
  width: 100%;
  background-color: #fff;
  direction: ltr;
  position: relative;
}
.nav_body {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.nav_body_icon_links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 32px;
}
.nav_icon_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 11.51px;
}
/* .nav_icon_img {
} */
.nav_separation_line {
  width: 0px;
  height: 30px;
  border-right: 1px solid #70798b;
}
.nav_links_to_pages {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12.25px;
}
.course_nav_link {
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0px;
  color: #70798b;
  text-decoration: none;
}
.home_nav_link {
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -1px;
  color: #072127;
  text-decoration: none;
  align-self: flex-start;
}
.course_details_navbar_search_container {
  height: 44px;
  width: 296px;
  position: relative;
}
.course_details_nav_search_input {
  width: 100%;
  height: 100%;
  background-color: #f7f7f7;
  border-radius: 12px;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  outline: none;
  border: none;
  padding-right: 45.22px;
  padding-left: 10px;
}
.course_details_nav_search_input::placeholder {
  color: #708387;
}
.course_details_nav_search_icon {
  position: absolute;
  right: 11.22px;
  top: 50%;
  transform: translateY(-50%);
}
.signup_notifications_language_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 32px;
}
.notifications_language_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.not_lang_button {
  border: none;
  outline: none;
  background: none;
  align-content: center;
  width: 41px;
  height: 40px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
  cursor: pointer;
}
.signup_button_container {
  width: fit-content;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signup_button {
  height: 100%;
  padding: 0 15px;
  border-radius: 150px;
  background-color: #6dcde5;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0px;
  color: #ffffff;
  border: none;
  cursor: pointer;
}
.navbar_user_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.navbar_user_container_username {
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0;
  text-align: right;
  color: #072127;
}
