button {
  background: #6DCDE5;
  color: white;
  border: 1px solid #6DCDE5;
  border-radius: 6px;
  gap: 8px;
  padding-top: 1px;
  padding-right: 12px;
  padding-bottom: 1px;
  padding-left: 12px;
  font-weight: 700;
  line-height: 100%;
}

.button-shere {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 94px;
  height: 32px;
  border: 0.5px solid #D9E4E5;
  color: #0A1826;
  background: none;
  font-weight: 400;
  font-size: 14px;
}

.button-hidden {
  width: auto;
  height: 40px;
  color: #072127;
  border: 1px solid #D9E4E5;
  background: #F2F2F280;
  font-weight: 500;
  font-size: 16px;
}

.layout-l input {
  width: 615px;
  height: 55px;
  gap: 10px;
  border: 0px;
  opacity: 1;
  padding-right: 16px;
  padding-left: 16px;
  border-bottom: 1px solid #70838780;
  background: #F2F2F280;
  outline: none;
  
  /* التحكم بالخط */
  font-family: 'Tajawal', sans-serif; /* نوع الخط */
  font-size: 16px; /* حجم الخط */
  font-weight: 500; /* سماكة الخط (400 عادي, 500 متوسط, 700 عريض) */
  color: #072127; /* لون النص */
  line-height: 1.5; /* ارتفاع السطر */
  letter-spacing: 0.5px; /* تباعد الحروف */
  text-align: right; /* محاذاة النص */
}

.layout-l input:hover,
.layout-l input:focus,
.layout-l input:active {
  border: 0px;
  border-bottom: 1px solid #70838780; /* الحفاظ على الخط السفلي فقط */
  outline: none;
  box-shadow: none;
}

.layout-l {
  direction: rtl;
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 32px;
  padding-top: 30px;
  padding-bottom: 600px;
}

.layout-post{
  display: flex;
  flex-direction: column;
  width: 812;
  height: 3024.569580078125;
  gap: 24px;
  rotate: 0deg;
  opacity: 1;
  padding-top: 24px;
  padding-right: 24px;
  padding-bottom: 32px;
  padding-left: 24px;
  box-shadow: 0px 0px 5px 0px #00000026;
}

.layout-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: Tajawal;
  font-weight: 700;
  font-style: Bold;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: right;
  gap: 12px;
}

.title-text {
  font-weight: 700;
  font-style: Bold;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: right;
  color: #072127;
}

.post-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.status-badge {
  max-width: 100px;
  min-width: 64px;
  height: 31px;
  border: 0px;
  padding: 4px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 600;
  gap: 4px;
}

.status-badge-text{
  font-weight: 700;
  font-style: Bold;
  font-size: 12px;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: center;
}

.status-badge.full {
  color: #34C759;
  background: #34C75926;
}

.status-badge.not-full {
  color: #FF9500;
  background: #FF950026;
}

.card-time {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 231px;
  height: 87px;
  padding: 20px;
  gap: 12px;
  border-radius: 2px;
  border-width: 1px;
  border: 1px solid #D9E4E5;
}

.card-time p {
  font-weight: 500;
  font-size: 14px;
  line-height: 12px;
  letter-spacing: 0%;
  text-align: right;
  color : #708387;
}

.card-time h6 {
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #072127;
}

.date-info {
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.date-info img {
  width: 20px;
  height: 20px;
}

.divider {
  width: 100%;
  height: 0px;
  rotate: 180deg;
  border: 1px solid #D9E4E5;
}

.volunteer {
  display: flex;
  align-items: center;
  width: 100%;
  height: 90px;
  gap: 12px;
  rotate: 0deg;
  opacity: 1;
  padding: 16px 20px;
  border-radius: 6px;
  background: #70838712;
}

.number-of-vol{
  width: 125px;
  height: 31px;
  gap: 4px;
  rotate: 0deg;
  color: #072127;
  opacity: 1;
  padding-right: 16px;
  padding-top: 5px;
  padding-left: 16px;
  border-radius: 4px;
  border: 0px;
  background: #6DCDE526;
  font-family: Tajawal;
  font-weight: 500;
  font-style: Medium;
  font-size: 12px;
  leading-trim: NONE;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: center;
}

.comment {
  width: 764px;
  height: auto;
  gap: 16px;
  rotate: 0deg;
  opacity: 1;
  padding-top: 20px;
  padding-right: 16px;
  padding-bottom: 20px;
  padding-left: 16px;
  border-radius: 18px;
  background: #F9F9F9BF;
}

.comment-publish{
  display: flex;
  align-items: center;
  width: 764;
  height: 87;
  gap: 16px;
  rotate: 0deg;
  opacity: 1;
  padding-top: 16px;
  padding-right: 11px;
  padding-bottom: 16px;
  padding-left: 11px;
  border-radius: 8px;
}