@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Tajawal"
}

.a {
  text-decoration: none;
  color: inherit;
}
body {
  /* background: linear-gradient(to bottom, #eaf8fb 0%, #ffffff 100%); */
  background-color: white;
  min-height: 100vh;
}
